.add-reduce{
	position: absolute;
	margin: 0;
	bottom: .1rem;
	right: .2rem;
	width: 2rem;
	border: 1px solid #e6e6e6;
	box-sizing: content-box;
    -webkit-box-sizing: content-box;
    border-radius: 2px;
    height: .5rem;
    overflow: hidden;
    color: #333333;
}

.add-reduce b{
	display: inline-block;
	width: .6rem;
	font-size: .4rem;
	font-weight: 300;
	text-align: center;
	line-height: .5rem;
	height: 100%;
    overflow: hidden;
}

.add-reduce b:nth-child(2){
	width: .8rem;
	font-size: .3rem;
	font-weight: 400;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
}