// 无地址
html{height: 100%;}
body{background-image:none;height: 100%;}
.route-div{
	height: 100%;
}
.no-address{
	position: absolute;top:50%;margin-top:-1.11rem;width:100%;
	.na-ico{background:url(../images/address/no-address.png) no-repeat;width:1.63rem;height:1.54rem;display: block;background-size:contain;margin:0 auto .1rem auto;}
	p{text-align:center;font-size:.28rem;color:#666;line-height:.37rem;}
}
.add-address-btn{position: fixed;bottom:0;-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);color:#FFF;height:1rem;width:100%;line-height:1rem;background-color:#f60;display: block;text-align:center;font-size:.34rem;}

//有地址
.address-list{
	padding-bottom: 1rem;
	height: 100%;
    overflow: auto;
	li{
		background-color:#FFF;margin-bottom:.2rem;
		.address-msg{
			padding:.2rem;
			h6{
				font-size:.32rem;font-weight:normal;color:#333;
				span{margin-right:.1rem;}
				em{color:#FFF;background-color:#f60;border-radius:.05rem;font-size:.24rem;font-style:normal;position: relative;top:-.02rem;padding:2px 3px;}
			}
			p{font-size:.28rem;color:#666;margin-top:.15rem;}
		}
		.address-operation{
			border-top:1px solid #eee;height:.88rem;line-height:.88rem;padding:0 .2rem;font-size:.28rem;
			.current{
				background:url(../images/address/off.png) no-repeat left center;padding: .05rem 0 .05rem .45rem;background-size:.35rem .35rem;
				&.on{background-image:url(../images/address/on.png);background-size:.35rem .35rem;}
			}
			.ao-edit{background:url(../images/address/edit.png) no-repeat left center;padding-left:.45rem;background-size:.32rem .32rem;float:right;margin-right:.3rem;}
			.ao-del{background:url(../images/address/del.png) no-repeat left center;padding-left:.45rem;background-size:.32rem .32rem;float:right;}
		}
	}
} 


// 新增地址
.address-form{
	li{
		background-color:#FFF;border-bottom:1px solid #eee;height:.92rem;display:table;width:100%;padding:0 .2rem;
		&>label{
			display:table-cell;vertical-align: middle;color:#333;font-size:.28rem;width:1.4rem;white-space:nowrap;
			p{color:#999;font-size:.2rem;}
		}
		blockquote{
			display:table-cell;vertical-align: middle;position: relative;
			input{
				width:100%;border:none;font-size:.28rem;padding:.1rem 0;
			}
			&.area-box{
				&:after{content:"";display: block;width:.2rem;height:.2rem;border-top:.05rem solid #d2d2d2;border-right:.05rem solid #d2d2d2;position: absolute;transform:rotate(45deg);top:.35rem;right:0}
			}
		}
	}
}

.pub_switch { display: none;}
.pub_switch + label {display: inline-block;position: relative;width: .9rem;height: .46rem;background-color: #e1e1e1;border-radius: .2rem;-webkit-transition: all 0.1s ease-in;transition: all 0.1s ease-in;float:right;}
.pub_switch  + label:after {content: ' ';position: absolute;top: 0;width: 100%;height: 100%;-webkit-transition: box-shadow 0.1s ease-in;transition: box-shadow 0.1s ease-in;left: 0;border-radius: 100px;box-shadow: inset 0 0 0 0 #eee, 0 0 1px rgba(0,0,0,0.4);}
.pub_switch  + label:before {content: ' ';position: absolute;top: 0px;left: 1px;z-index: 1;width: .46rem;height:.46rem;-webkit-transition: all 0.1s ease-in;transition: all 0.1s ease-in;border-radius: 100px;box-shadow: 0 3px 1px rgba(0,0,0,0.05), 0 0px 1px rgba(0,0,0,0.3);background: white;}
.pub_switch:active + label:after {box-shadow: inset 0 0 0 .2rem #eee, 0 0 1px #eee;}
.pub_switch:active + label:before {width: .46rem;}
.pub_switch:checked:active + label:before {width: .46rem;left: .2rem;}	
.pub_switch  + label:active {box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);}
.pub_switch:checked + label:before {content: ' ';position: absolute;left: .44rem;border-radius: 100px;}
.pub_switch:checked + label:after {content: ' ';font-size: 1.5em;position: absolute;background: #4cda60;box-shadow: 0 0 1px #4cda60;}