body{background-image:none;font-family: "微软雅黑"}
/*预约列表 没有数据*/
.no-list{
	position: absolute;top:50%;margin-top:-2rem;width:100%;text-align:center;display: none;
	/*.na-ico{background:url(../images/address/no-address.png) no-repeat;width:1.63rem;height:1.54rem;display: block;background-size:contain;margin:0 auto .1rem auto;}*/
	p{margin-bottom: .2rem;font-size:.28rem;color:#666;line-height:.37rem;}
	a{
		
		button{
			width: 1.6rem;
			height: .6rem;
			border-radius: .05rem;
			border: 1px solid #bbb;
			background-color: #fff;
		}
	}
}

/*预约列表 有数据*/
.appointment{
	overflow: hidden;
	width: 100%;
	height: 100%;
	

	.listbox{
		width: 100%;
		height: 100%;
		position: relative;

		.appointmentbox{

			.appointmentlist{
				background-color:#FFF;margin-bottom:.2rem;
				padding:0 .2rem;
				overflow: hidden;
				h3{
					color: #333;
					display: block;
					padding:.2rem 0 .15rem 0;
					font-size: .3rem;
					line-height: .55rem;
					font-weight: 500;
				}
				p{
					font-size:.28rem;
					color:#999; 
					padding:.2rem;
					line-height: .40rem;
					border-top: 1px solid #eee;
					border-bottom: 1px solid #eee;
				}
				.generoname{
					font-size: .28rem;
					a{
						float: right;
						button{
							width: 1.6rem;
							height: .6rem;
							border-radius: .06rem;
							border: 1px solid #bbb;
							background-color: #fff;
							color: #333;
    						font-size: .28rem;
						}
					}
				}
			}
		}
	}
	
} 

.route-div{ height: 100% }
.pull-up{ /*height:20px;*/position:relative;/*top:-57px;*/color:#999;text-align:center;line-height:2.4;font-size:12px}