.express-info{
	line-height: 1;
	.goods{
		display: table;
		padding: .2rem .28rem;
		background: #fff;
		.left{
			margin-right: .28rem;
			width: 1.24rem;
			img{
				width: 100%;
				height: 1rem;
			}
			span{
				display: inline-block;
				width: 100%;
				text-align: center;
				font-size: .22rem;
				background: #000;
				color: #fff;
				line-height: 1.6;
			}
		}
		.right{
			display: table-cell;
			vertical-align: middle;
			width: 100%;
			color: #999;
			font-size: .22rem;
			line-height: 1.4;
			p:nth-child(1){
				font-size: .24rem;
				color: #333;
			}
		}
	}
	.progress{
		margin-top: .2rem;
		padding: 0 .28rem;
		background: #fff;
		font-size: .24rem;
		color: #666;
		header{
			padding: .34rem 0;
			color: #333;
			border-bottom: 1px solid #eee;
		}
		li{
			display: table;
			line-height: 0;
			overflow: hidden;
		}
		.first-list{color: #00A35E;}
		.left-icon{
			position: relative;
			display: table-cell;
			line-height: 0;
			span{
				display: inline-block;
				position: relative;
				left: .04rem;
				width: .16rem;
				height: .16rem;
				border-radius: 1rem;
				background: #e8e8e8;
				z-index: 1;
			}
		}
		.left-icon::after{
            content: " ";
            position: absolute;
            top: 0;
            left: .12rem;
            margin-left: -1px;
            width: 0;
            height: 100%;
            border: 1px solid #e8e8e8;
		}
		.first-list .left-icon{
			// vertical-align: super;
			span{
				left: 0rem;
				display: -webkit-box;
				display: -webkit-flex;
				display: flex;
				-webkit-box-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-box-align: center;
				-webkit-align-items: center;
				align-items: center;
				width: .24rem;
				height: .24rem;
				border-radius: 1rem;
				background: rgba(0,165,63,.36);
				i{
					display: block;
					width: .16rem;
					height: .16rem;
					border-radius: .32rem;
					background: rgba(0,165,63,1);		
				} 
			}
		} 
		.first-list .left-icon::after{top: auto;}
		.right-content{
			display: table-cell;
			width: 100%;
			padding: .2rem 0;
			line-height: 1.4;
			border-bottom: 1px solid #eee;
		}
	}
	a{
		color: "#0099ff";
	}
}