@charset "utf-8";
body{
	background: #eee;font-size:.28rem;background-size:52% auto;
	-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.appwrap{
	height: 100%;
}
/**  头部样式  **/
.common-header{
	position: fixed;
	z-index: 10;
	top: 0;
	background: #fefefe;
	height: .97rem;
	width: 100%;
	border-bottom: 1px solid #e3e3e3; 
	z-index: 99;
	.title{
		position: relative;
		font-size: .34rem;
		line-height: .97rem;
		text-align: center;
		color: #333333;
		font-weight: 500;
		/* 筛选 */
		.h-screen-warp{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			.h-screen{
				display: inline-block;
	    		vertical-align: middle;
				width: 100%;
				height: .97rem;
				background: url(../images/common/h-s-down.png) no-repeat center .4rem / .16rem auto;
				margin-left: 1rem;
				&.hs-icoUp{
					background-image: url(../images/common/h-s-up.png);
				}
			}
			.h-s-list{
				position: absolute;
				background: #fff;
				width: 100%;
				padding: .06rem 0;
				left: 0;
				top: .97rem;
				z-index: 99;
				ul{
					li{
						width: 33.333%;
						float: left;
						padding: .14rem .2rem;
						box-sizing: border-box;
						span{
							display: block;
							height: .6rem;
							line-height: .6rem;
							background: #f5f5f5;
							border-radius: 3px;
							color: #333;
							font-size: .28rem;
							border: 1px solid #f5f5f5;
						}
						&.active span{
							color: #f60;
							border-color: #f60;
							background: #fff;
						}
					}
				}
			}
		}
		
	}
	.left-arrow{
		position: absolute;
		top: 0;
		left: 0;
		height: .97rem;
		width: .97rem;
		z-index: 99;
		a{
			display: inline-block;
			height: 100%;
			width: 100%;
			i{
				display: inline-block;
				margin-top: .35rem;
				margin-left: .32rem;
			    width: .24rem;
			    height: .24rem;
			    border-left: 1px solid #848689;
			    border-bottom: 1px solid #848689;
			    -webkit-transform: rotate(45deg);
			    transform: rotate(45deg);
			}
		}
	}

}
/**  头部样式  **/

/**  登录页面样式  **/
.signin{
	margin: .3rem;
	.center{
		
		.text{
			position: relative;
			padding: 0 .2rem;
			background: #fff;
			border: 1px solid #e6e6e6;
			span{
			    position: absolute;
			    // bottom: .22rem;
			    right: .26rem;
			    padding-left: .2rem;
			    height: .5rem;
			    color: #ff6600;
			    border-left: 1px solid #e6e6e6;
			    line-height: .4rem;
			    font-size:.3rem;
			}
			img{
				height: 100%;
			}
		}
	}
	input{
	    padding: .24rem 0rem .2rem .5rem;
	    width: 100%;
	    height: .91rem;
	    font-size: .28rem;
	    line-height: .36rem;
		border: none;
		background: url(../images/login/password_icon.png) no-repeat 0 center;
		color: #999;
		background-size: .36rem auto;
	}
	input.phone{border-bottom: 1px solid #e6e6e6;border-radius: 0;background: url(../images/login/phone_icon.png) no-repeat 0 center;background-size: .36rem auto;}
	input.code{background: url(../images/login/code.png) no-repeat 0 center;background-size: .36rem auto;}
	.btn{
		margin-top: .3rem;
		height:.86rem;
		width: 100%;
		border: none;
		border-radius: .04px;
		background: #f60;
		color: #ffbf94;
		font-size: .36rem;
		border-radius:.1rem;
	}
	.protocol{
		margin-top: 20px;
		color: #666666;
		line-height: .24rem;
		a{
			color: #45b3fc;
		}
		span{
			display: inline-block;
			margin-right: 5px;
			width: .24rem;
			height: .24rem;
			background: url(../images/login/pro_yes.png) no-repeat 0 center;
		    background-size: 100% auto;
		    vertical-align: middle;
		    &.no-pro{
		    	background: url(../images/login/pro_no.png) no-repeat 0 center;
		    	background-size: 100% auto;
		    }
		}
	}
	.title{
		padding: .2rem 0;
		color: #333333;
		font-size: .34rem;
	}
} 
/**  登录页面样式  **/


/******* 城市选择 *********/
.cascade-select{
	/*display: none;*/
	position: fixed;
	z-index: 101;
	background: #fff;
	width: 100%;
	height: 6rem;
	bottom: 0;
	-webkit-transform: translate3d(0,500%,0);
    transform: translate3d(0,500%,0);
    transition: transform 1s;
    -webkit-transition: -webkit-transform 1s; /* Safari 和 Chrome */
    line-height: 1;
}
.cascade-select header{
	margin-top: .38rem;
	padding-bottom: .46rem;
	text-align: center;
	font-size: .3rem;
}
.cascade-select header span{
    display: inline-block;
    margin-top: -.2rem;
    padding-right: 0rem;
    /* margin-top: 5px; */
    float: right;
    margin-right: 5px;
    /* vertical-align: middle; */
    width: .6rem;
    height: .6rem;
    line-height: 1;
    font-size: .6rem;
    font-weight: 100;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    color: #999999;
}
.cascade-select .select-value{
	padding: 0 0 .12rem .2rem;
	border-bottom: 1px solid #e6e6e6;
	width: 100%;
	font-size: .28rem;
}
.cascade-select .select-value span{
	margin-right: .2rem;
}
.cascade-select .select-scroll{height: 6.46rem;overflow: auto;padding-bottom: 2.1rem;}
.cascade-select .select-scroll ul{
	width: 100%;
}
.cascade-select .select-scroll ul li{
	padding-left: .2rem;
	height: .8rem;
	text-align: left;
	line-height: .8rem;
	color: #333333;
}
.cascade-select .select-scroll li.select{
	margin-right: .2rem;
	color: #ff6600;
	background: url(../images/common/list-select.png) no-repeat right center;
	background-size: .3rem auto;
}

/******* 城市选择 *********/
