
$orColor: #f60;
$deColor: #333;
$deSize: .28rem;

.my-order{
	.common-header{
		z-index: 999;
	}
} 
.mo-nav{
	border-bottom: 1px solid #D3D3D3;
	background: #fff;
	ul{
		height: .9rem;
		line-height: .9rem;
		display: flex;  
		li{
			flex:1;  
			font-size: .3rem;
			height: 100%;
			text-align: center;
			position: relative;
		}
		li.active{
			color: $orColor;
			&::after{
				position: absolute;
				width: 1rem;
				border-bottom: 2px solid $orColor;
				content: "";
				/* z-index: 9; */
				bottom: 0;
				left: 50%;
				margin-left:-.5rem; 
			}
		}
	}
}
.mom-head{
	background: #fff;
	height: .88rem;
	line-height: .89rem;
	padding: 0 10px;
	margin-top: .2rem;
	div{
		color: $orColor;
		font-size: $deSize;
		.mh-ico{
			display: inline-block;
			width: .32rem;
			height: .32rem;
			vertical-align: middle;
			margin-right: .1rem;
			background: {
				repeat: no-repeat;
				position: center center;
				size: 100% auto;
			}
		}
		.mh-icoJd{
			background-image: url(../images/myorder/momh-icoJd.png);
		}
		span{
			color: $deColor;
			vertical-align: middle;
		}
	}
}
.mom-list{
	background: #f5f5f5;
	li{
		position: relative;
		height: 2rem;
		border-bottom: 2px solid #fff;
		.ml-col1{
			position: absolute;
			left: .2rem;
			top: .3rem;
			overflow: hidden;
			border: 1px solid #DFDFDF;
			img{
				width: 1.38rem;
				height: 1.38rem;
				display: block;
			}
		}
		.ml-col2{
			margin: 0 2.1rem 0 1.78rem;
			padding-top: .3rem;
			h2{
				font-size: $deSize;
				line-height: .36rem;
				color: $deColor;
				height: .72rem;
				overflow: hidden;
				font-weight: 500;
			}
			p{
				font-size: .24rem;
				color: #999;
				overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			}
		}
		.ml-col3{
			position: absolute;
			right: .2rem;
			top: .3rem;
			.ml-price{
				font-size: $deSize;
				color: #cc0000;
			}
			.ml-num{
				font-size: $deSize;
				text-align: right;
				color: $deColor;
			}
		}
		&:last-child{
			border-bottom:0 none;
		};
	}
}
.mm-total{
	background: #fff;
	border-bottom: 1px solid #f5f5f5;
	font-size: .26rem;
	text-align: right;
	height: .88rem;
	line-height: .88rem; 
	padding-right: .2rem;
	overflow: hidden;
	&:last-child{
		border-bottom:0 none;
	};
	.mm-but{
		display: none;
		font-size: $deSize;
		margin-left: .2rem;
		color: #333;
		border-radius: 3px;
		border:  1px solid #bbb;
		line-height: .57rem;
		height: .6rem;
		width: 1.6rem;
		text-align: center;
		vertical-align: middle;
		float: right;
		margin-top: 7px;
	}
	.mm-but.but-org{
		color: #f60;
		border-color: #f60;
	}
}
.no-list {
    position: absolute;
    top: 50%;
    margin-top: -2rem;
    width: 100%;
    text-align: center;
    p {
	    margin-bottom: .2rem;
	    font-size: .28rem;
	    color: #666;
	    line-height: .37rem;
	}
	a button {
	    width: 1.6rem;
	    height: .6rem;
	    border-radius: .05rem;
	    border: 1px solid #bbb;
	    background-color: #fff;
	}
}

.order-cancel{
    list-style: none;
    position: absolute;
    background: #fff;
    top: 31%;
    font-size: .28rem;
    width: 80%;
    left: 10%;
    border-radius: .1rem;
    z-index: 800;
    display: none;
    li:first-child{
        color: black;
        border-top: none;
    }
    li{
        list-style-type: none;
        text-align: center;
        padding: .2rem 0rem .3rem 0rem;
        border-top: solid 1px #F3F2F2;
        color: grey;
    }
}
.pull-up{
	text-align: center;
    color: #666666;
}
.my-order .confirm{
	z-index: 1001;
}
.c-mask{
	z-index: 1000;
}