.order-detail{
    font-family: '微软雅黑',Arial;
    padding-bottom: 1rem;
    height: 100%;
    /*position: relative;*/
    overflow: auto;
}
.order-detail .num {
    height: .88rem;
    background: #FFFFFF;
    line-height: .88rem;
    margin-top: -.08rem;
    position: relative;
}
.order-detail .num p {
    color: #333333;
    font-size: .28rem;
    padding-left: .2rem;
    display: inline-block;
}
.order-detail .num .ordernum {
    width: 88%;
}
.order-detail .num .orderstate {
    color: #f60;
    position: absolute;
    right: .2rem;
    top: 0;
}
.order-detail .address1 {
    background: url(../images/orderdetail/address_bg@2x.png) no-repeat;
    background-size: 100% 100%;
    height: 1.74rem;
    margin-top: .2rem;
    position: relative;
}

.order-detail .address1 img {
    height: 20%;
    width: 5%;
    display: inline-block;
    vertical-align: middle;
    margin: .9rem 0 0 .2rem;
    vertical-align: middle;
    margin: .2rem;
}

.order-detail .address1 .adinfo2 {
    float: right;
    height: 100%;
    width: 100%;
    padding: 0 .2rem 0 .8rem;
    background: url(../images/orderdetail/address@2x.png) no-repeat .3rem .8rem;
    background-size: .26rem .32rem;
}
.order-detail .address1 .adinfo2 p {
    margin: .35rem 0 .1rem 0;
    color: #333;
    font-size: .30rem;
}
.order-detail .address1 .adinfo2 span {
    color: #666;
}
.order-detail .address1 .adinfo2 p span{
    color: #666;
}
.adinfo span {
    font-size: .28rem;
    color: #666664;
}
.adinfo p span {
    color: #fff;
    background: #ff6501;
    padding: .02rem .1rem;
    font-size: .2rem;
    border-radius: .06rem;
    margin-left: .1rem;
}
.order-detail .line {
    height: .8rem;
    width: 100%;
    margin: .20rem 0 0 0;
    background-color: #fff;
    line-height: .4rem;
    padding: .2rem .1rem .1rem .2rem;
}

.order-detail .line dt {
    display: inline-block;
    width: 20%;
}

.order-detail .line dd {
    display: inline-block;
    width: 78%;
    text-align: right;
}

.order-detail .fp {
}

.order-detail .fp dt {
    display: inline-block;
    width: 20%;
}

.order-detail .fp dd {
    display: inline-block;
    width: 75%;
    text-align: right;
}

.order-detail .fp img {
    vertical-align: middle;
    margin: 0rem 0 0rem .13rem;
    height: .4rem;
}

.order-detail .fp span {
    vertical-align: middle;
}
.order-detail .orderClose {
    font-size: .28rem;
    padding-bottom: 0rem;
    padding-top: 0rem;
    height: auto;
}
.order-detail .bwtk{
    height: .6rem;
    line-height: .63rem;
    text-align: center;
    color: #999999;
    font-size: .24rem;
}
.order-detail .jinediv .jine {
    margin: 0;
}
.order-detail .jinediv .jine .fpname{
    width: 17%;
}
.order-detail .jinediv .jine .fptype{
    width: 83%;
    text-align: right;
    padding-right: .2rem;
    overflow: hidden;
    display: inline-block;
    height: .35rem;
    font-style: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.order-detail .jinediv .jine .elefp{
    color: #f60;
}
.order-detail .jinediv .jine .elefp1{
    color: #000;
}
.order-detail .jinediv dl {
    height: .6rem;
    padding: .1rem .1rem .1rem .2rem;
}
.order-detail .jinediv .jine span {
    color: #ce0000;
}

.order-detail .jinediv {
    margin-top: .25rem;
}
.bootmdetail {
    border: 1px solid #d3d3d3;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 1.0rem;
    width: 100%;
    background: #fff;
}
.bootmdetail a {
    text-align: center;
    width: 49%;
    line-height: 1.2rem;
    font-size: .28rem;
    display: inline-block;
    float: left;
}
.bootmdetail .heji {
    width: 59%;
    text-align: right;
    padding-right: .2rem;
}
.bootmdetail .heji span {
    color: #ce0000;
}

.bootmdetail .subbtn {
    width: 28%;
    background: #f60;
    color: #fff;
    height: 64%;
    vertical-align: middle;
    line-height: .65rem;
    margin: .2rem;
    float: right;
    border-radius: .1rem;
}
.bootmdetail .subbtn1 {
    width: 28%;
    background: #fff;
    color: #f60;
    height: 64%;
    vertical-align: middle;
    line-height: .7rem;
    margin: .2rem;
    float: right;
    border: solid #f60 1px;
    border-radius: .1rem;
    font-size: .28rem;
}
   .order-detail ul{
            list-style: none;
            position: absolute;
            background: #fff;
            top: 31%;
            font-size: .28rem;
            width: 80%;
            left: 10%;
            border-radius: .1rem;
            z-index: 800;
            display: none;
    }
    .order-detail li:first-child{
            color: black;
            border-top: none;
    }
   .order-detail li{
            list-style-type: none;
            text-align: center;
            padding: .2rem 0rem .3rem 0rem;
            border-top: solid 1px #F3F2F2;
            color: grey;
    }