.appwrap {
    height: 100%;
}
.common-header {
    z-index: 1;
}
.orderClose {
	font-size: .28rem;
	padding-bottom:1.16rem;
	height: 100%;
    position: relative;
    overflow: auto;
}
.orderClose .address {
	width: 100%;
	height: 1rem;
	background: #fff;
	line-height: .9rem;
}

.orderClose .address1 {
	background: url(../images/orderclosed/address_bg@2x.png) no-repeat;
	background-size: 100% 100%;
	height: 2.2rem;
}

.orderClose .address1 img {
	height: 20%;
	width: 5%;
	display: inline-block;
	vertical-align: middle;
	margin: .9rem 0 0 .2rem;
}
.orderClose .address1 .adinfo2 {
	float: right;
	height: 100%;
	width: 88%;
	margin-left: .2rem;
}

.orderClose .address1 .adinfo2 h3 {
	margin: .5rem 0rem .3rem 0;
}
.orderClose .address1 .adinfo1 {
	float: right;
	height: 100%;
	width: 88%;
	margin-left: .2rem;
}

.orderClose .address1 .adinfo1 h3 {
	margin: .5rem 0rem .3rem 0;
}
.orderClose .address1 .adinfo1 span{
	display: table-cell;
	font-size: 12px;
}
.orderClose .address1 .adinfo1 .adinfo1-right{
	padding-right: 10px;
    overflow: hidden;
    word-break: break-all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.orderClose .address img {
	vertical-align: middle;
	margin: .2rem;
}

.orderClose .tanm {
	display: inline-block;
	width: 100%;
	background-color: #fff;
	margin: .15rem 0 0rem 0;
	border-bottom: solid 1px #D2D2D2;
}

.orderClose .tanm dl {
	padding: 10px;

	width: 100%
}
.orderClose .tanm .sxp{
	text-align: center;
    padding-right: 2rem;
    margin-top: .2rem;
    color: gray;
}
.orderClose .tanm dl dt {
	width: 23%;
	height: 1.5rem;
	position: relative;
	float: left
}

.orderClose .tanm dl dt img {
	width: 1.6rem;
    height: 1.5rem;
    border: solid 1px #dfdfdf;
}
.orderClose .tanm dl dt span {
	position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    left: 0;
    display: inline-block;
    text-align: center;
    background: grey;
    opacity: .7;
}

.orderClose .tanm dl dd {
	margin-left: 10px;
	position: relative;
	margin-left: 2rem;
	text-overflow: ellipsis
}

.orderClose .tanm dl dd p {
	color: #333;
	font-size: 0.3rem;
	line-height: .4rem;
	height: .5rem;
	width: 40%;
	display: inline-block;
}
.orderClose .tanm dl dd p .biaoName {
	text-overflow: ellipsis;
    height: .8rem;
    width: 2.4rem;
    overflow: hidden;
}
.orderClose .tanm dl dd p span {
	color: #333;
    display: inline-block;
}
.orderClose .tanm dl dd p span.orename{    
	width: 5.2rem;
    height: .8rem;
    overflow: hidden;
    text-overflow:ellipsis ;
    font-size: .24rem;
    color: #666;
}

.orderClose .tanm dl dd p.price {
	color: #ce0000;
	margin-top: 4px;
	height: 16px;
	float: right;
	text-align: right;
    padding-right: .1rem;
}

.orderClose .tanm dl dd p.num {
	height: 14px;
	float: right;
}

.orderClose .tanm dl dd p.category {
	height: 33px;
	float: left;
}

.orderClose .liu {
	background: #fff;
    color: #000;
    width: 100%;
    padding-bottom: .2rem;
    float: left;
    border-top: 1px solid #eae9e5;
    height: .8rem;
    line-height: .7rem;
    padding-left: .1rem;
}
.orderClose .liu label{
	margin-left: .1rem;
    margin-right: .1rem;
}
.orderClose .liu input {
	height: 100%;
	width: 87%;
	border: none;
	border-radius: .1rem;
	font-size: .28rem;
}

.orderClose .line {
	height: .8rem;
	width: 100%;
	margin: .25rem 0 0 0;
	background-color: #fff;
	line-height: .4rem;
	padding: .2rem .1rem .1rem .2rem;
}

.orderClose .line dt {
	display: inline-block;
	width: 20%;
}

.orderClose .line dd {
	display: inline-block;
	width: 75%;
	text-align: right;
}

.orderClose .fp {
}

.orderClose .fp dt {
	display: inline-block;
	width: 20%;
}

.orderClose .fp dd {
	display: inline-block;
	width: 75%;
	text-align: right;
}

.orderClose .fp img {
	vertical-align: middle;
	margin: 0rem 0 0rem .13rem;
	height: .4rem;
}

.orderClose .fp span {
	vertical-align: middle;
	color: black;
	line-height: .46rem;
}
.orderClose .fp .fpttshow{
	max-width: 2rem;
    overflow: hidden;
    display: inline-block;
    height: .35rem;
    font-style: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.orderClose .bwtk{
    height: .6rem;
    line-height: .62rem;
    text-align: center;
    color: #999999;
    font-size: .24rem;
}
.orderClose .jinediv .jine {
	margin: 0;
}

.orderClose .jinediv .jine span {
	color: #ce0000;
}

.orderClose .jinediv {
	margin-top: .25rem;
}
.bootm {
	z-index: 10;
	border: 1px solid #d3d3d3;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 1.2rem;
	width: 100%;
	background: #fff;
}
.bootm a {
	text-align: center;
	width: 49%;
	line-height: 1.2rem;
	font-size: 18px;
	display: inline-block;
	float: left;
}
.bootm .heji {
	width: 59%;
	text-align: right;
    padding-right: .2rem;
}
.bootm .heji span {
	color: #ce0000;
}

.bootm .subbtn {
	width: 41%;
	background: #f60;
	color: #fff;
}
.route-div {
	padding-top: 1.05rem;
	height: 100%;
}